body{
	margin: 0;
}

header{
	background-color: #BD172D;
	text-align: center;
}

header h1{
	color: whitesmoke;
}

header img{
	border-radius: 170px;
    width: 300px;
    border: 10px solid #F1E7E4;
}